.switch-btn {
  display: inline-block;
  width: 38px; /* ширина переключателя */
  height: 16px; /* высота переключателя */
  border-radius: 12px;
  background: #bfbfbf;
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms;
  margin-right: 10px;
  top: 2;
}
html.dark .switch-btn {
  background: #111111; /* цвет фона */
  box-shadow: none;
}
.switch-btn::after {
  content: "";
  height: 24px; /* высота кнопки */
  width: 24px; /* ширина кнопки */
  border-radius: 18px; /* радиус кнопки */
  background: #fff;
  top: -4px; /* положение кнопки по вертикали относительно основы */
  left: -6px; /* положение кнопки по горизонтали относительно основы */
  transition-duration: 300ms; /* анимация */
  box-shadow: 0 0 10px 0 #999999; /* тень */
  position: absolute;
  z-index: 1;
}
html.dark .switch-btn::after {
  background: #2a2a2a; /* цвет кнопки */
}
.switch-on {
  /*background: #fff;*/
  box-shadow: inset 0 0 10px 0 #999999; /* тень */
}
.switch-on::after {
  left: 20px;
  background: #fff;
}

html::-webkit-scrollbar {
	width: 10px;
	background-color: transparent;
}

html::-webkit-scrollbar-track {
	background-color: transparent;
}

html::-webkit-scrollbar-thumb {
	background-color: #c3d0dd;
	border-radius: 100px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
html.dark::-webkit-scrollbar-thumb {
	background-color: #aaa;
}

.inner::-webkit-scrollbar {
	width: 10px;
	height: 0;
	background-color: transparent;
}

.inner::-webkit-scrollbar-track {
	background-color: transparent;
}

.inner::-webkit-scrollbar-thumb {
	background-color: #c3d0dd;
	border-radius: 100px;
}
html.dark .inner::-webkit-scrollbar-thumb {
	background-color: #aaa;
}
.middle .count{
	text-align: center;
	line-height: 25px;
	border-bottom: 1px solid grey;
}
.tokenHides{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	text-align: center;
	z-index:9999;
}
.tokenHides::after {
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 100%;
	content: '';
}
.modal_cinw{
	padding:10px;
	display: inline-block;
	vertical-align: middle;
	position:relative;
	text-align: left;
	background: #fff;
	font-size: 15px;  
}
html.dark .modal_cinw{
	background: #222228;    
}

#exit{
	position: absolute;
	left: 6px;
	top: 6px;
}
#setting{
	position: absolute;
	right: 6px;
	top: 6px;
}
.block{
	display: flex;
	justify-content: left;
	height: 40px;
	border-bottom: 1px solid grey;
}
.block .image img{
	width: 30px;
	border-radius: 50%;
}
.block .image{
	margin: auto 10px;
	height: 30px;
	justify-content: center;
}
.block .name{
	line-height: 40px;
}

.major{
	margin-top: 35px !important; 

}
.middle{
	border: 1px solid black;
	height: 740px;
	margin-left: 65px;
}
.middle.no2 .inner{
	overflow-y: scroll;
	height: calc(100% - 128px);
}
.middle.no1 .inner{
	overflow-y: scroll;
	height: calc(100% - 92px);
}
.middle .post{
	line-height: 30px;
	color: white;
	display: inline-block;
	align-items:center;
	justify-content: center;
	background-color: #7598B7;
	width: 50%;
	text-align: center;
	transition: 0.3s;
}
html.dark .middle .post{
	background-color: #3c3c3c;
}
.middle .post:hover{
	background-color: #3a6a95;
}
.middle .posts .no1,.no2{
	display:flex;
	justify-content: center;
}

.middle .posts{
		/*position: absolute;
		bottom: 0;*/
	}
.middle{
	min-width: 300px;
	display: block !important;
}
.middle .head{
	background-color: #7598B7;
	text-align: center;
	line-height: 30px;
	color: white;
}
html.dark .middle .head{
	background-color: #323232;
}
.middle .posts .no1 div:first-child{
	border-radius: 15px 0 0 15px;
}
.middle .posts .no2 div:first-child{
	border-radius: 15px 0 0 15px;
}
.middle .posts .no1 div:last-child{
	border-radius: 0 15px 15px 0;
}
.middle .posts .no2 div:last-child{
	border-radius: 0 15px 15px 0;
}
.post{
	margin-top: 5px !important;
}
.major{
	display: flex;
	justify-content: space-between;
	max-width: 1150px;
	margin: 0 auto;
}
@media screen and (min-width: 900px) {
	.middle.no2{
		width: 500px;
	}
	.major{
		flex-direction: row;
	}
}
@media screen and (max-width: 900px) {
	.underMiddle{
		width: 500px;
	}
	.middle,.underMiddle{
		margin: 0 auto;
	}
	.middle.no2{
		margin-top: 30px;
	}
	.middle.no1,.middle.no2,.underMiddle{
		width: 80%;
	}
	.major{
		flex-direction: column;
	}
}
@media screen and (max-width: 660px) {
	.major{
		margin-top: 70px !important;
		height: 200%;
	}
	.middle.no1,.middle.no2,.underMiddle{
		width: 100% !important;
	}
	.middle{
		height: 50%;
	}
	#exit div{
		font-size: 15.5px;
		display: inline-block !important;
	}
}